<div class="row">
  <div class="col-xs-3">
    
    <div class="well">
        This is From About Component Section 1 
    </div>

  </div>

  <div class="col-xs-3">


    <div class="well">
        This is From About Component Section 2 
    </div>


  </div>

  <div class="col-xs-3">


    <div class="well">
        This is From About Component Section 3 
    </div>


  </div>


  <div class="col-xs-3">


    <div class="well">
        This is From About Component Section 4 
    </div>


  </div>


</div>